
# This is the general structure of the datamodule for NDF tasks.

root: /data/ndf_original/data

train_dset:
  dataset_type: shapenet_pretraining
  ndf_data_path: ${..root}
  sidelength: null
  depth_aug: false
  multiview_aug: false
  phase: 'train'
  obj_class: ${object_class.name}
  train_num: null

val_dset:
  dataset_type: ${..train_dset.dataset_type}
  ndf_data_path: ${..root}
  sidelength: ${..train_dset.sidelength}
  depth_aug: ${..train_dset.depth_aug}
  multiview_aug: ${..train_dset.multiview_aug}
  phase: 'val'
  obj_class: ${..train_dset.obj_class}
  train_num: ${..train_dset.train_num}

test_dset:
  dataset_type: ${..train_dset.dataset_type}
  ndf_data_path: ${..root}
  sidelength: ${..train_dset.sidelength}
  depth_aug: ${..train_dset.depth_aug}
  multiview_aug: ${..train_dset.multiview_aug}
  phase: 'test'
  obj_class: ${..train_dset.obj_class}
  train_num: ${..train_dset.train_num}
